*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

@media(max-width: 900px){
    html{
        font-size: 55%;
    }
}

@media(max-width: 750px){
    html{
        font-size: 50%;
    }
}

@media(max-width: 600px){
    html{
        font-size: 45%;
    }
}

body{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    line-height: 1.6rem;
}

.wrapper{
    display: grid;
    grid-gap: 2rem;
    justify-content: center;
    position:relative;
}

/* *******************HEADER******************* */
.header{
    /* background-image: linear-gradient(to right #2d6bf9,#013bb9); */
    background-image: linear-gradient(to right, #2c6af9, #023dba);
    display:grid;
    min-height: 10rem;
    padding: 1rem;
    color: white;
    font-size: 1.6rem;
    line-height: 3.5rem;
}

.header--title--rule{
    display:grid;
    justify-content: space-evenly;
    text-align: center;
}

/* *******************HEADER******************* */


.bingoContainer {
    width: 100%;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 80px));
    grid-gap: 1rem;
    justify-self: center;
    justify-items: center;
    align-items: center;
}

@media(max-width: 900px){
    .bingoContainer{
        display: none;
    }
}

@media (max-width: 600px){
    .bingoContainer{
        display: none;
    }
}

.bingoElement {
    animation: moveInLeft .5s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2.5rem;

}

@media (max-width: 600px){
    .bingoElement{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30rem;
        height: 30rem;
        font-size: 15rem;
    }
}

.container {
    width: 110rem;
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1rem;
    justify-self: center;
    align-items: center;
    text-align: center;
    animation: moveInLeft .5s ease-in;
}

@media( max-width: 600px ){
    .container{
        max-width: 50rem;
    }
}
@media (max-width: 1200px){
    .container {
        width: 55rem;
    }
}

.numberDiv{
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 600px){
    .bingoContainer{
        grid-template-columns: repeat(auto-fill, 100px);
    }
}


@keyframes moveInLeft {
    0%{
        opacity: .0;
        transform: translateX(-10rem) ;
       
    }

    80%{
        transform: translateX(-1rem) ;
    }

    100%{
        opacity: 1;
        transform: translateX(0) ;
    }
}

@keyframes moveInBottom {
    0%{
        opacity: .0;
        transform: translateY(-10rem) ;
       
    }

    80%{
        transform: translateY(-1rem) ;
    }

    100%{
        opacity: 1;
        transform: translateY(0) ;
    }
}

.ticketContainer{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, minmax(1fr, 100px) );
    align-content: center;
    justify-content: center;
    grid-gap: 2rem;
    font-size: 1.3rem;
}

@media(max-width: 900px){
    .ticketContainer{
        display: none;
    }
}

@media (max-width: 600px){
    .ticketContainer{
        display: none;
    }
}

.ticketNumberDivContainer{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 20px;
}

.ticketNumberDiv{
    width: 4rem;
    height: 4rem;
    border: 1px solid #333;
    line-height: 4rem;
}

.startDiv {
    color:white;
    display:grid;
    position: fixed;
    width: 20rem;
    height: 12rem;
    bottom: 5rem;
    left: 35%;
    border: 1px solid #333;
    border-radius: 1rem;
    align-content: center;
    justify-items: center;
    padding: 1rem;
    animation: moveInLeft .5s ease-in-out;
    background-image: radial-gradient( #00e1ff63, #023cbace,#040207);
}

.startDiv:hover{
    background-color: rgba(119, 119, 119, 0.5);
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.startDiv:active {
    background-color: rgba(119, 119, 119, 0.9);
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.message{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.604);
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    visibility: hidden;
}

.message__content{
    position: fixed;
    width: 80%;
    height: 50%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveInLeft .5s ease-in-out;
}

.message__content--text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.6rem;
    line-height: 4rem;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
}

.mobile__output{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    background-color:rgba(0, 0, 0, 0.604);
}

.code {
    position: fixed;
    z-index: 9999;
    color: #fff;
    font-size: 30px;
}
.code a {
    text-decoration: none;
    color: white;
}

.code a:hover{
    color: #ccc;
}